<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.0.5/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <h1>誰でもAR名刺！！</h1>
    <div>
      <v-app id="inspire">
        <v-form v-model="valid">
          <v-container>
            <v-row>
              <!-- name -->
              <v-col cols="12" md="4">
                <v-text-field
                  v-model="name"
                  :rules="nameRules"
                  :counter="30"
                  label="name"
                  required
                ></v-text-field>
              </v-col>
              
              <!-- Belongs -->
              <v-col cols="12" md="4">
                <v-text-field
                  v-model="belong"
                  :rules="belongRules"
                  :counter="255"
                  label="所属"
                  required
                ></v-text-field>
              </v-col>

              <!-- TEL -->
              <v-col cols="12" md="4">
                <v-text-field
                  v-model="tel"
                  :rules="telRules"
                  :counter="20"
                  label="TEL"
                ></v-text-field>
              </v-col>

              <!-- E-mail -->
              <v-col cols="12" md="4">
                <v-text-field
                  v-model="email"
                  :rules="emailRules"
                  :counter="255"
                  label="e-mail"
                ></v-text-field>
              </v-col>

              <!-- TwitterID -->
              <v-col cols="12" md="4">
                <v-text-field
                  v-model="twitterID"
                  :counter="255"
                  label="TwitterID"
                  required
                ></v-text-field>
              </v-col>

              <!-- githubID -->
              <v-col cols="12" md="4">
                  <v-text-field
                    v-model="githubID"
                    :counter="255"
                    label="githubID"
                  ></v-text-field>
                </v-col>
            </v-row>
          </v-container>
        </v-form>
        <v-container fluid grid-list-md>
          <v-layout wrap>
            <v-flex xs12 md6>
              <v-textarea
                v-model="description"
                solo
                name="input-7-4"
                label="Description"
                id="description"
              ></v-textarea>
              <div id="send-button" class="my-2">
                <v-btn @click="getForm(); getQRcode()">QRコード作成</v-btn>
              </div>
            </v-flex>
          </v-layout>
        </v-container>
        <!-- <v-list-item v-if="QRimagebase64.length > 0">
          <v-list-item-content>
            <v-list-item-title>debug-url</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <p v-if="QRimagebase64.length > 0">{{ debug_QRurl }}</p> -->
        <v-list-item v-if="QRimagebase64.length > 0">
          <v-list-item-content>
            <v-list-item-title>URL</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <p v-if="QRimagebase64.length > 0">{{ QRurl }}</p>
        <div style="margin:30px">
          <v-img v-if="QRimagebase64.length > 0" :src="QRimagebase64" :aspect-ratio="1" :max-width="300"></v-img>
        </div>
      </v-app>
    </div>
  </div>
    
  <script src="https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.0.5/dist/vuetify.min.js"></script>
  <script src="form.js"></script>
</body>

</html>
